<!DOCTYPE html>
<html>
<head>
	<title>Twitter Digi</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- Code for flash messages	 -->
	<% if alert %>
	<div id="notice_wrapper">
		<p class="alert monts"><%= alert %></p>
	</div>
	<% elsif notice %>
	<div id="notice_wrapper">
		<p class="notice monts"><%= notice %></p>
	</div>
	<% end %>
	<%= yield %>
</body>
</html>
